<!DOCTYPE html>
<html>
	<head>
	  <title>Bizagi Vacations System</title>
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<%= yield %>

	</body>
</html>
